### Import Library & Prepare Data

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
from dateutil import parser
from datetime import date

In [2]:
# Read dataset
resto_df = pd.read_excel('Q3_competition_detail_dataset.xlsx')
resto_df.head()

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,...,transactions,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos,cross_streets
0,nzgC5hhlnSq2DYbJbtH5MQ,Foxy's Landing & Restaurant,True,False,1.661949e+10,52,breakfast_brunch,tradamerican,NaN,4.0,...,[],93536.0,Lancaster,"['4555 W Avenue G', 'Lancaster, CA 93536']",https://www.yelp.com/biz/foxys-landing-and-res...,https://s3-media1.fl.yelpcdn.com/bphoto/LooWtz...,34.738829,-118.216215,['https://s3-media1.fl.yelpcdn.com/bphoto/LooW...,NaN
1,i-2aG9_PQBEy7LrsRv0Ivg,Mosman's Steakhouse,True,False,1.661949e+10,63,bars,steak,NaN,3.5,...,[],93536.0,Lancaster,"['46645 W 60th W', 'Lancaster, CA 93536']",https://www.yelp.com/biz/mosmans-steakhouse-la...,https://s3-media3.fl.yelpcdn.com/bphoto/JJ3mkC...,34.730580,-118.238360,['https://s3-media3.fl.yelpcdn.com/bphoto/JJ3m...,NaN
2,DJoeogRsOW5s9MzgveHQ2A,El Tamarindo,True,False,1.661723e+10,11,salvadoran,NaN,NaN,3.5,...,[],93534.0,Lancaster,"['551 W Ave I', 'Ste E', 'Lancaster, CA 93534']",https://www.yelp.com/biz/el-tamarindo-lancaste...,https://s3-media1.fl.yelpcdn.com/bphoto/UMSkfH...,34.707469,-118.146286,['https://s3-media1.fl.yelpcdn.com/bphoto/UMSk...,NaN
3,hwWfv3sSxV3a47UAdSVT5w,Subway,True,False,1.661730e+10,13,sandwiches,NaN,NaN,2.5,...,"['delivery', 'pickup']",93535.0,Lancaster,"['1821 W Ave I', 'Unit 103', 'Lancaster, CA 93...",https://www.yelp.com/biz/subway-lancaster-106?...,https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7Ea...,34.705218,-118.164180,['https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7...,NaN
4,TxU0fwF2N2nVhCpzokc1Pg,Little Caesars,True,False,1.661946e+10,54,pizza,NaN,NaN,1.5,...,[],93534.0,Lancaster,"['1841 W Ave I', 'Bldg 2, Ste D', 'Lancaster, ...",https://www.yelp.com/biz/little-caesars-lancas...,https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1W5...,34.705100,-118.164870,['https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1...,NaN

In [3]:
# Shape data
resto_df.shape

(10710, 21)

In [4]:
resto_df.columns

Index(['id', 'name', 'is_claimed', 'is_closed', 'phone', 'review_count',
       'categories01', 'categories02', 'categories03', 'rating', 'price',
       'transactions', 'zip_code', 'city', 'address', 'restaurant_url',
       'image_url', 'latitude', 'longitude', 'photos', 'cross_streets'],
      dtype='object')

In [5]:
# Data type of dataset
resto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10710 entries, 0 to 10709
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10710 non-null  object
 1   name            10710 non-null  object
 2   is_claimed      10710 non-null  bool
 3   is_closed       10710 non-null  bool
 4   phone           9993 non-null   float64
 5   review_count    10710 non-null  int64
 6   categories01    10710 non-null  object
 7   categories02    7434 non-null   object
 8   categories03    4034 non-null   object
 9   rating          10710 non-null  float64
 10  price           8374 non-null   object
 11  transactions    10710 non-null  object
 12  zip_code        10703 non-null  float64
 13  city            10710 non-null  object
 14  address         10710 non-null  object
 15  restaurant_url  10710 non-null  object
 16  image_url       10350 non-null  object
 17  latitude        10710 non-null  float64
 18  longitude       10710 non-null  float64
 19  photos          10710 non-null  object
 20  cross_streets   0 non-null      float64
dtypes: bool(2), float64(6), int64(1), object(12)
memory usage: 1.6+ MB

### Data Preprocessing

In [6]:
# Cleaning data
resto_df['latitude'] = resto_df['latitude'].astype('float')
resto_df['longitude'] = resto_df['longitude'].astype('float')
resto_df = resto_df.reset_index()
resto_df = resto_df.drop(['index','cross_streets'],axis=1)
resto_df['Price'] = resto_df['price'].apply(lambda x: len(str(x)))
resto_df

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,...,transactions,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos,Price
0,nzgC5hhlnSq2DYbJbtH5MQ,Foxy's Landing & Restaurant,True,False,1.661949e+10,52,breakfast_brunch,tradamerican,NaN,4.0,...,[],93536.0,Lancaster,"['4555 W Avenue G', 'Lancaster, CA 93536']",https://www.yelp.com/biz/foxys-landing-and-res...,https://s3-media1.fl.yelpcdn.com/bphoto/LooWtz...,34.738829,-118.216215,['https://s3-media1.fl.yelpcdn.com/bphoto/LooW...,2
1,i-2aG9_PQBEy7LrsRv0Ivg,Mosman's Steakhouse,True,False,1.661949e+10,63,bars,steak,NaN,3.5,...,[],93536.0,Lancaster,"['46645 W 60th W', 'Lancaster, CA 93536']",https://www.yelp.com/biz/mosmans-steakhouse-la...,https://s3-media3.fl.yelpcdn.com/bphoto/JJ3mkC...,34.730580,-118.238360,['https://s3-media3.fl.yelpcdn.com/bphoto/JJ3m...,2
2,DJoeogRsOW5s9MzgveHQ2A,El Tamarindo,True,False,1.661723e+10,11,salvadoran,NaN,NaN,3.5,...,[],93534.0,Lancaster,"['551 W Ave I', 'Ste E', 'Lancaster, CA 93534']",https://www.yelp.com/biz/el-tamarindo-lancaste...,https://s3-media1.fl.yelpcdn.com/bphoto/UMSkfH...,34.707469,-118.146286,['https://s3-media1.fl.yelpcdn.com/bphoto/UMSk...,1
3,hwWfv3sSxV3a47UAdSVT5w,Subway,True,False,1.661730e+10,13,sandwiches,NaN,NaN,2.5,...,"['delivery', 'pickup']",93535.0,Lancaster,"['1821 W Ave I', 'Unit 103', 'Lancaster, CA 93...",https://www.yelp.com/biz/subway-lancaster-106?...,https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7Ea...,34.705218,-118.164180,['https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7...,1
4,TxU0fwF2N2nVhCpzokc1Pg,Little Caesars,True,False,1.661946e+10,54,pizza,NaN,NaN,1.5,...,[],93534.0,Lancaster,"['1841 W Ave I', 'Bldg 2, Ste D', 'Lancaster, ...",https://www.yelp.com/biz/little-caesars-lancas...,https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1W5...,34.705100,-118.164870,['https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10705,7mOOAeGIh2QL3GBCbAspYA,San Antonio Restaurant,True,False,1.424287e+10,12,mexican,salvadoran,NaN,4.0,...,"['delivery', 'pickup']",90731.0,SAN PEDRO,"['234 N Pacific Ave', 'SAN PEDRO, CA 90731']",https://www.yelp.com/biz/san-antonio-restauran...,https://s3-media2.fl.yelpcdn.com/bphoto/fbWrH0...,33.744806,-118.287750,['https://s3-media2.fl.yelpcdn.com/bphoto/fbWr...,3
10706,Qd8G5bJaOQp17q33q-5rjg,Prontos Market,False,False,NaN,3,mexican,importedfood,NaN,3.5,...,[],90731.0,Los Angeles,"['210 N Pacific Ave', 'Los Angeles, CA 90731']",https://www.yelp.com/biz/prontos-market-los-an...,https://s3-media3.fl.yelpcdn.com/bphoto/GYHteF...,33.744434,-118.287743,['https://s3-media3.fl.yelpcdn.com/bphoto/GYHt...,3
10707,tNQjsxKstD0pHs-iVjnsrw,El Pollo Loco,True,False,1.310241e+10,165,mexican,hotdogs,NaN,1.5,...,['delivery'],90731.0,San Pedro,"['215 N Gaffey St', 'San Pedro, CA 90731']",https://www.yelp.com/biz/el-pollo-loco-san-ped...,https://s3-media4.fl.yelpcdn.com/bphoto/ocue3R...,33.744414,-118.292542,['https://s3-media4.fl.yelpcdn.com/bphoto/ocue...,1
10708,A1k_7CpM0cFoEN2I-6gC2A,La Perla Tapatia Meat Market,True,False,1.310221e+10,81,mexican,meats,NaN,4.5,...,"['delivery', 'pickup']",90731.0,Los Angeles,"['210 N Pacific Ave', 'Los Angeles, CA 90731']",https://www.yelp.com/biz/la-perla-tapatia-meat...,https://s3-media1.fl.yelpcdn.com/bphoto/xFQsSX...,33.744398,-118.287745,['https://s3-media1.fl.yelpcdn.com/bphoto/xFQs...,1
10709,R3LoXVj1nnc7FE7klhJdLA,Tacos Tamix Truck #1,False,False,1.323744e+10,3,foodtrucks,tacos,NaN,3.5,...,[],90007.0,Los Angeles,"['1201-1299 W 20th St', 'Los Angeles, CA 90007']",https://www.yelp.com/biz/tacos-tamix-truck-1-l...,https://s3-media2.fl.yelpcdn.com/bphoto/x_2B6l...,33.726075,-118.303595,['https://s3-media2.fl.yelpcdn.com/bphoto/x_2B...,3

In [7]:
# Cleaning data column city
resto_df['City'] = resto_df.city.apply(lambda x: x.strip().lower())

# Column name changed
resto_df['City'] = resto_df.City.apply(lambda x: x[:-2] if x[-2:]=='ca' else x)
resto_df['City'] = resto_df.City.apply(lambda x: ' '.join(x.split()))
resto_df['City'] = resto_df.City.replace('lost angeles', 'los angeles')
resto_df['City'] = resto_df.City.replace('longbeach', 'long beach')
resto_df['City'] = resto_df.City.replace('rowland hghts', 'rowland heights')
resto_df['City'] = resto_df.City.replace('rowland heightes', 'rowland heights')
resto_df['City'] = resto_df.City.replace('santa fe spring', 'santa fe springs')
resto_df['City'] = resto_df.City.replace('shermanoaks', 'sherman oaks')
resto_df['City'] = resto_df.City.replace('canyon cntry', 'canyon country')
resto_df['City'] = resto_df.City.replace('studiocity', 'studio city')
resto_df['City'] = resto_df.City.replace('santa moni', 'santa monica')

# Set up capital letters for first letter
resto_df['City'] = resto_df.City.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
resto_df['categories01'] = resto_df.categories01.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
resto_df['categories02'] = resto_df.categories02.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
resto_df['categories03'] = resto_df.categories03.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
resto_df.head()

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,...,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos,Price,City
0,nzgC5hhlnSq2DYbJbtH5MQ,Foxy's Landing & Restaurant,True,False,1.661949e+10,52,Breakfast_brunch,Tradamerican,Nan,4.0,...,93536.0,Lancaster,"['4555 W Avenue G', 'Lancaster, CA 93536']",https://www.yelp.com/biz/foxys-landing-and-res...,https://s3-media1.fl.yelpcdn.com/bphoto/LooWtz...,34.738829,-118.216215,['https://s3-media1.fl.yelpcdn.com/bphoto/LooW...,2,Lancaster
1,i-2aG9_PQBEy7LrsRv0Ivg,Mosman's Steakhouse,True,False,1.661949e+10,63,Bars,Steak,Nan,3.5,...,93536.0,Lancaster,"['46645 W 60th W', 'Lancaster, CA 93536']",https://www.yelp.com/biz/mosmans-steakhouse-la...,https://s3-media3.fl.yelpcdn.com/bphoto/JJ3mkC...,34.730580,-118.238360,['https://s3-media3.fl.yelpcdn.com/bphoto/JJ3m...,2,Lancaster
2,DJoeogRsOW5s9MzgveHQ2A,El Tamarindo,True,False,1.661723e+10,11,Salvadoran,Nan,Nan,3.5,...,93534.0,Lancaster,"['551 W Ave I', 'Ste E', 'Lancaster, CA 93534']",https://www.yelp.com/biz/el-tamarindo-lancaste...,https://s3-media1.fl.yelpcdn.com/bphoto/UMSkfH...,34.707469,-118.146286,['https://s3-media1.fl.yelpcdn.com/bphoto/UMSk...,1,Lancaster
3,hwWfv3sSxV3a47UAdSVT5w,Subway,True,False,1.661730e+10,13,Sandwiches,Nan,Nan,2.5,...,93535.0,Lancaster,"['1821 W Ave I', 'Unit 103', 'Lancaster, CA 93...",https://www.yelp.com/biz/subway-lancaster-106?...,https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7Ea...,34.705218,-118.164180,['https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7...,1,Lancaster
4,TxU0fwF2N2nVhCpzokc1Pg,Little Caesars,True,False,1.661946e+10,54,Pizza,Nan,Nan,1.5,...,93534.0,Lancaster,"['1841 W Ave I', 'Bldg 2, Ste D', 'Lancaster, ...",https://www.yelp.com/biz/little-caesars-lancas...,https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1W5...,34.705100,-118.164870,['https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1...,1,Lancaster

In [8]:
# Merge with data reviews
resto_reviews_df = pd.read_excel('Q3_competition_review_dataset.xlsx')
df = resto_reviews_df.merge(resto_df, left_on='id', right_on='id')
df.head()

,id,review_id,review_text,review_rating,review_time_created,name,is_claimed,is_closed,phone,review_count,...,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos,Price,City
0,cal0Wpupxj9c_AV7WzDXsw,AyueC5Vq_5lUKJFqSzXWWw,Slightly turned off by the hostess. She wasn't...,3.0,2021-07-13 15:01:59,GRANVILLE,True,False,1.424523e+10,1610,...,90048.0,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood
1,cal0Wpupxj9c_AV7WzDXsw,yaH4AmHUz9b3Ywv4VtvU5g,Wish I would have known about no brunch at the...,3.0,2021-07-06 13:50:42,GRANVILLE,True,False,1.424523e+10,1610,...,90048.0,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood
2,cal0Wpupxj9c_AV7WzDXsw,YiuFLFWsrP92_QWa-d2W2Q,I had an amazing experience at Granville.\n\nw...,5.0,2021-08-09 21:06:24,GRANVILLE,True,False,1.424523e+10,1610,...,90048.0,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood
3,jVYU9iXvBMiC2A4H12Azfg,VyKvwjOuJxKWiLlyzsqQ_A,Photo dump from dinner on Aug 8th. Literally c...,5.0,2021-08-09 13:01:09,AOC,True,False,1.310860e+10,2362,...,90048.0,Los Angeles,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles
4,jVYU9iXvBMiC2A4H12Azfg,D0-MjyINO2u9IRmf1opaUQ,I've had this place bookmarked on my Yelp for ...,2.0,2021-07-17 16:28:47,AOC,True,False,1.310860e+10,2362,...,90048.0,Los Angeles,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32130 entries, 0 to 32129
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   32130 non-null  object
 1   review_id            30679 non-null  object
 2   review_text          30679 non-null  object
 3   review_rating        30679 non-null  float64
 4   review_time_created  30679 non-null  object
 5   name                 32130 non-null  object
 6   is_claimed           32130 non-null  bool
 7   is_closed            32130 non-null  bool
 8   phone                29979 non-null  float64
 9   review_count         32130 non-null  int64
 10  categories01         32130 non-null  object
 11  categories02         32130 non-null  object
 12  categories03         32130 non-null  object
 13  rating               32130 non-null  float64
 14  price                25122 non-null  object
 15  transactions         32130 non-null  object
 16  zip_code             32109 non-null  float64
 17  city                 32130 non-null  object
 18  address              32130 non-null  object
 19  restaurant_url       32130 non-null  object
 20  image_url            31050 non-null  object
 21  latitude             32130 non-null  float64
 22  longitude            32130 non-null  float64
 23  photos               32130 non-null  object
 24  Price                32130 non-null  int64
 25  City                 32130 non-null  object
dtypes: bool(2), float64(6), int64(2), object(16)
memory usage: 6.2+ MB

In [10]:
# review_time_created change to datetime
df['review_time_created'] = pd.to_datetime(df['review_time_created'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32130 entries, 0 to 32129
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   32130 non-null  object
 1   review_id            30679 non-null  object
 2   review_text          30679 non-null  object
 3   review_rating        30679 non-null  float64
 4   review_time_created  30679 non-null  datetime64[ns]
 5   name                 32130 non-null  object
 6   is_claimed           32130 non-null  bool
 7   is_closed            32130 non-null  bool
 8   phone                29979 non-null  float64
 9   review_count         32130 non-null  int64
 10  categories01         32130 non-null  object
 11  categories02         32130 non-null  object
 12  categories03         32130 non-null  object
 13  rating               32130 non-null  float64
 14  price                25122 non-null  object
 15  transactions         32130 non-null  object
 16  zip_code             32109 non-null  float64
 17  city                 32130 non-null  object
 18  address              32130 non-null  object
 19  restaurant_url       32130 non-null  object
 20  image_url            31050 non-null  object
 21  latitude             32130 non-null  float64
 22  longitude            32130 non-null  float64
 23  photos               32130 non-null  object
 24  Price                32130 non-null  int64
 25  City                 32130 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(6), int64(2), object(15)
memory usage: 6.2+ MB

### NLP for columns review_text

In [11]:
import re
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [12]:
data = df.review_text.values.tolist()
eng = stopwords.words('english')
data = [word for word in data if not word in eng]

In [13]:
df['reviews_text_clean'] = data
df

,id,review_id,review_text,review_rating,review_time_created,name,is_claimed,is_closed,phone,review_count,...,city,address,restaurant_url,image_url,latitude,longitude,photos,Price,City,reviews_text_clean
0,cal0Wpupxj9c_AV7WzDXsw,AyueC5Vq_5lUKJFqSzXWWw,Slightly turned off by the hostess. She wasn't...,3.0,2021-07-13 15:01:59,GRANVILLE,True,False,1.424523e+10,1610,...,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,Slightly turned off by the hostess. She wasn't...
1,cal0Wpupxj9c_AV7WzDXsw,yaH4AmHUz9b3Ywv4VtvU5g,Wish I would have known about no brunch at the...,3.0,2021-07-06 13:50:42,GRANVILLE,True,False,1.424523e+10,1610,...,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,Wish I would have known about no brunch at the...
2,cal0Wpupxj9c_AV7WzDXsw,YiuFLFWsrP92_QWa-d2W2Q,I had an amazing experience at Granville.\n\nw...,5.0,2021-08-09 21:06:24,GRANVILLE,True,False,1.424523e+10,1610,...,West Hollywood,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,I had an amazing experience at Granville.\n\nw...
3,jVYU9iXvBMiC2A4H12Azfg,VyKvwjOuJxKWiLlyzsqQ_A,Photo dump from dinner on Aug 8th. Literally c...,5.0,2021-08-09 13:01:09,AOC,True,False,1.310860e+10,2362,...,Los Angeles,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles,Photo dump from dinner on Aug 8th. Literally c...
4,jVYU9iXvBMiC2A4H12Azfg,D0-MjyINO2u9IRmf1opaUQ,I've had this place bookmarked on my Yelp for ...,2.0,2021-07-17 16:28:47,AOC,True,False,1.310860e+10,2362,...,Los Angeles,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles,I've had this place bookmarked on my Yelp for ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32125,OOWP3xDX1J6vEoY4_CAXpw,odAqCN7vZ3RCnxFPHdPhtg,Horrible Horrible Horrible!!!!\nI had heard so...,1.0,2010-02-22 22:01:49,Chris & Pitts Restaurants,False,False,1.562928e+10,3,...,Bell Gardens,"['6701 Florence Ave', 'Bell Gardens, CA 90201']",https://www.yelp.com/biz/chris-and-pitts-resta...,https://s3-media2.fl.yelpcdn.com/bphoto/SPE9G_...,33.962295,-118.145668,['https://s3-media2.fl.yelpcdn.com/bphoto/SPE9...,3,Bell gardens,Horrible Horrible Horrible!!!!\nI had heard so...
32126,OOWP3xDX1J6vEoY4_CAXpw,TRpMdQy3BsckXpcxnbMZPA,We stopped in after a trip to the desert. Spl...,2.0,2013-04-08 09:33:15,Chris & Pitts Restaurants,False,False,1.562928e+10,3,...,Bell Gardens,"['6701 Florence Ave', 'Bell Gardens, CA 90201']",https://www.yelp.com/biz/chris-and-pitts-resta...,https://s3-media2.fl.yelpcdn.com/bphoto/SPE9G_...,33.962295,-118.145668,['https://s3-media2.fl.yelpcdn.com/bphoto/SPE9...,3,Bell gardens,We stopped in after a trip to the desert. Spl...
32127,FkTe7INYgB6tbAxK9y7JLg,bEjx11JL_KwbX3XBNq2nhA,Updated hours are not true. Unable to order th...,1.0,2020-05-13 21:22:59,Subway,True,False,1.562928e+10,17,...,Bell Gardens,"['6420 Gage Ave', 'Ste C', 'Bell Gardens, CA 9...",https://www.yelp.com/biz/subway-bell-gardens-4...,https://s3-media3.fl.yelpcdn.com/bphoto/0o-ouk...,33.973568,-118.146403,['https://s3-media3.fl.yelpcdn.com/bphoto/0o-o...,1,Bell gardens,Updated hours are not true. Unable to order th...
32128,FkTe7INYgB6tbAxK9y7JLg,Mx16eUgtho7hxr27Qtc8Iw,Trash. Employees are very rude. Nobody there w...,1.0,2019-08-21 17:49:59,Subway,True,False,1.562928e+10,17,...,Bell Gardens,"['6420 Gage Ave', 'Ste C', 'Bell Gardens, CA 9...",https://www.yelp.com/biz/subway-bell-gardens-4...,https://s3-media3.fl.yelpcdn.com/bphoto/0o-ouk...,33.973568,-118.146403,['https://s3-media3.fl.yelpcdn.com/bphoto/0o-o...,1,Bell gardens,Trash. Employees are very rude. Nobody there w...
32129,FkTe7INYgB6tbAxK9y7JLg,kIs6HW40vXcLkXQMfOIpJg,If I could.give negative stars I would. This S...,1.0,2018-06-28 22:35:51,Subway,True,False,1.562928e+10,17,...,Bell Gardens,"['6420 Gage Ave', 'Ste C', 'Bell Gardens, CA 9...",https://www.yelp.com/biz/subway-bell-gardens-4...,https://s3-media3.fl.yelpcdn.com/bphoto/0o-ouk...,33.973568,-118.146403,['https://s3-media3.fl.yelpcdn.com/bphoto/0o-o...,1,Bell gardens,If I could.give negative stars I would. This S...

In [14]:
# Make column categorizing the key words into specific values cared by customers
df['value_review'] = df['review_rating']
df['value_review'].replace({
    0.0: 'Food', 
    1.0: 'Environment',
    2.0: 'Experience',
    3.0: 'Service',
    4.0: 'Waiting time',
    5.0: 'Others'
}, inplace=True)
df.head()

,id,review_id,review_text,review_rating,review_time_created,name,is_claimed,is_closed,phone,review_count,...,address,restaurant_url,image_url,latitude,longitude,photos,Price,City,reviews_text_clean,value_review
0,cal0Wpupxj9c_AV7WzDXsw,AyueC5Vq_5lUKJFqSzXWWw,Slightly turned off by the hostess. She wasn't...,3.0,2021-07-13 15:01:59,GRANVILLE,True,False,1.424523e+10,1610,...,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,Slightly turned off by the hostess. She wasn't...,Service
1,cal0Wpupxj9c_AV7WzDXsw,yaH4AmHUz9b3Ywv4VtvU5g,Wish I would have known about no brunch at the...,3.0,2021-07-06 13:50:42,GRANVILLE,True,False,1.424523e+10,1610,...,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,Wish I would have known about no brunch at the...,Service
2,cal0Wpupxj9c_AV7WzDXsw,YiuFLFWsrP92_QWa-d2W2Q,I had an amazing experience at Granville.\n\nw...,5.0,2021-08-09 21:06:24,GRANVILLE,True,False,1.424523e+10,1610,...,"['8701 Beverly Blvd', 'West Hollywood, CA 90048']",https://www.yelp.com/biz/granville-west-hollyw...,https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6eU...,34.077130,-118.380680,['https://s3-media2.fl.yelpcdn.com/bphoto/EuQ6...,2,West hollywood,I had an amazing experience at Granville.\n\nw...,Others
3,jVYU9iXvBMiC2A4H12Azfg,VyKvwjOuJxKWiLlyzsqQ_A,Photo dump from dinner on Aug 8th. Literally c...,5.0,2021-08-09 13:01:09,AOC,True,False,1.310860e+10,2362,...,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles,Photo dump from dinner on Aug 8th. Literally c...,Others
4,jVYU9iXvBMiC2A4H12Azfg,D0-MjyINO2u9IRmf1opaUQ,I've had this place bookmarked on my Yelp for ...,2.0,2021-07-17 16:28:47,AOC,True,False,1.310860e+10,2362,...,"['8700 W 3rd St', 'Los Angeles, CA 90048']",https://www.yelp.com/biz/aoc-los-angeles?adjus...,https://s3-media4.fl.yelpcdn.com/bphoto/UGnsMC...,34.073416,-118.381928,['https://s3-media4.fl.yelpcdn.com/bphoto/UGns...,3,Los angeles,I've had this place bookmarked on my Yelp for ...,Experience

In [15]:
# make city & category list
city_list = df.groupby('city').count().sort_values(by='id', ascending=False).index.to_list()
# city_list[:11]

categories1 = df.groupby('categories01').count().sort_values(by='id', ascending=False).index.to_list()
categories2 = df.groupby('categories02').count().sort_values(by='id', ascending=False).index.to_list()
categories3 = df.groupby('categories03').count().sort_values(by='id', ascending=False).index.to_list()

### Data Covid-19

In [16]:
df_covid = pd.read_csv('latimes-place-totals.csv')
df_covid.head()

,id,name,date,county,fips,confirmed_cases,note,population
0,94501,94501: Alameda,2021-08-24,Alameda,1,2717,NaN,62826.0
1,94502,94502: Alameda,2021-08-24,Alameda,1,330,NaN,14117.0
2,94505,94505: Discovery Bay,2021-08-24,Alameda,1,1,NaN,16382.0
3,94514,94514: Byron,2021-08-24,Alameda,1,1,NaN,1461.0
4,94536,94536: Fremont,2021-08-24,Alameda,1,3223,NaN,72976.0

In [17]:
print(df_covid.isna().sum())
df_covid = df_covid.drop('note', axis=1)
df_covid.head()

id                      0
name                    0
date                    0
county                  0
fips                    0
confirmed_cases         0
note               653573
population           4548
dtype: int64

,id,name,date,county,fips,confirmed_cases,population
0,94501,94501: Alameda,2021-08-24,Alameda,1,2717,62826.0
1,94502,94502: Alameda,2021-08-24,Alameda,1,330,14117.0
2,94505,94505: Discovery Bay,2021-08-24,Alameda,1,1,16382.0
3,94514,94514: Byron,2021-08-24,Alameda,1,1,1461.0
4,94536,94536: Fremont,2021-08-24,Alameda,1,3223,72976.0

In [18]:
df_covid = df_covid[df_covid.county == 'Los Angeles']
df_covid['date'] = pd.to_datetime(df_covid['date'])
df_covid = df_covid[df_covid['date'] > '2021-01-01']
df_covid.rename(columns={'name':'city'}, inplace=True)
df_covid

,id,city,date,county,fips,confirmed_cases,population
269,90802,90802: Long Beach,2021-08-24,Los Angeles,37,4581,39453.0
270,90803,90803: Long Beach,2021-08-24,Los Angeles,37,2273,32389.0
271,90804,90804: Long Beach,2021-08-24,Los Angeles,37,5140,39344.0
272,90805,90805: Long Beach,2021-08-24,Los Angeles,37,15039,96708.0
273,90806,90806: Long Beach,2021-08-24,Los Angeles,37,6919,42817.0
...,...,...,...,...,...,...,...
322474,Unincorporated - White Fence Farms,White Fence Farms,2021-01-02,Los Angeles,37,169,3683.0
322475,Unincorporated - Whittier,Unincorporated - Whittier,2021-01-02,Los Angeles,37,203,3784.0
322476,Unincorporated - Whittier Narrows,Whittier Narrows,2021-01-02,Los Angeles,37,8,12.0
322477,Unincorporated - Willowbrook,Willowbrook,2021-01-02,Los Angeles,37,4095,34913.0
322478,Unincorporated - Wiseburn,Wiseburn,2021-01-02,Los Angeles,37,333,6027.0

In [19]:
df_covid['city'] = df_covid['city'].apply(lambda x: x.split(':')[-1].strip())
df_covid['city'].unique()

array(['Long Beach', 'Pasadena', 'Agoura Hills', 'Alhambra', 'Arcadia',
       'Artesia', 'Avalon', 'Azusa', 'Baldwin Park', 'Bell',
       'Bell Gardens', 'Bellflower', 'Beverly Hills', 'Bradbury',
       'Burbank', 'Calabasas', 'Carson', 'Cerritos', 'Claremont',
       'Commerce', 'Compton', 'Covina', 'Cudahy', 'Culver City',
       'Diamond Bar', 'Downey', 'Duarte', 'El Monte', 'El Segundo',
       'Gardena', 'Glendale', 'Glendora', 'Hawaiian Gardens', 'Hawthorne',
       'Hermosa Beach', 'Hidden Hills', 'Huntington Park', 'Industry',
       'Inglewood', 'Irwindale', 'La Canada Flintridge',
       'La Habra Heights', 'La Mirada', 'La Puente', 'La Verne',
       'Lakewood', 'Lancaster', 'Lawndale', 'Lomita', 'Lynwood', 'Malibu',
       'Manhattan Beach', 'Maywood', 'Monrovia', 'Montebello',
       'Monterey Park', 'Norwalk', 'Palmdale', 'Palos Verdes Estates',
       'Paramount', 'Pico Rivera', 'Pomona', 'Rancho Palos Verdes',
       'Redondo Beach', 'Rolling Hills', 'Rolling Hills Estates',
       'Rosemead', 'San Dimas', 'San Fernando', 'San Gabriel',
       'San Marino', 'Santa Clarita', 'Santa Fe Springs', 'Santa Monica',
       'Sierra Madre', 'Signal Hill', 'South El Monte', 'South Gate',
       'South Pasadena', 'Temple City', 'Torrance', 'Vernon', 'Walnut',
       'West Covina', 'West Hollywood', 'Westlake Village', 'Whittier',
       'Adams-Normandie', 'Alsace', 'Angeles National Forest',
       'Angelino Heights', 'Arleta', 'Atwater Village', 'Baldwin Hills',
       'Bel Air', 'Beverly Crest', 'Beverlywood', 'Boyle Heights',
       'Brentwood', 'Brookside', 'Cadillac-Corning', 'Canoga Park',
       'Carthay', 'Central', 'Century City', 'Century Palms/Cove',
       'Chatsworth', 'Cheviot Hills', 'Chinatown', 'Cloverdale/Cochran',
       'Country Club Park', 'Crenshaw District', 'Crestview', 'Del Rey',
       'Downtown', 'Eagle Rock', 'East Hollywood', 'Echo Park',
       'El Sereno', 'Elysian Park', 'Elysian Valley', 'Encino',
       'Exposition', 'Exposition Park', 'Faircrest Heights',
       'Figueroa Park Square', 'Florence-Firestone', 'Glassell Park',
       'Gramercy Place', 'Granada Hills', 'Green Meadows', 'Hancock Park',
       'Harbor City', 'Harbor Gateway', 'Harbor Pines', 'Harvard Heights',
       'Harvard Park', 'Highland Park', 'Historic Filipinotown',
       'Hollywood', 'Hollywood Hills', 'Hyde Park', 'Jefferson Park',
       'Koreatown', 'Lafayette Square', 'Lake Balboa', 'Lakeview Terrace',
       'Leimert Park', 'Lincoln Heights', 'Little Armenia',
       'Little Bangladesh', 'Little Tokyo', 'Longwood', 'Los Feliz',
       'Manchester Square', 'Mandeville Canyon', 'Mar Vista',
       'Marina Peninsula', 'Melrose', 'Mid-city', 'Miracle Mile',
       'Mission Hills', 'Mt. Washington', 'North Hills',
       'North Hollywood', 'Northridge', 'Pacific Palisades', 'Pacoima',
       'Palisades Highlands', 'Palms', 'Panorama City', 'Park La Brea',
       'Pico-Union', 'Playa Del Rey', 'Playa Vista', 'Porter Ranch',
       'Rancho Park', 'Regent Square', 'Reseda', 'Reseda Ranch',
       'Reynier Village', 'San Pedro', 'Shadow Hills', 'Sherman Oaks',
       'Silver Lake', 'South Carthay', 'South Park', 'St Elmo Village',
       'Studio City', 'Sun Valley', 'Sunland', 'Sycamore Square',
       'Sylmar', 'Tarzana', 'Temple-Beaudry', 'Thai Town', 'Toluca Lake',
       'Toluca Terrace', 'Toluca Woods', 'Tujunga', 'University Hills',
       'University Park', 'Valley Glen', 'Valley Village', 'Van Nuys',
       'Venice', 'Vermont Knolls', 'Vermont Square', 'Vermont Vista',
       'Vernon Central', 'Victoria Park', 'View Heights', 'Watts',
       'Wellington Square', 'West Adams', 'West Hills',
       'West Los Angeles', 'West Vernon', 'Westchester', 'Westlake',
       'Westwood', 'Wholesale District', 'Wilmington', 'Wilshire Center',
       'Winnetka', 'Woodland Hills', 'Acton', 'Agua Dulce', 'Altadena',
       'Anaverde', 'Unincorporated - Angeles National Forest',
       'Unincorporated - Arcadia', 'Athens Village', 'Athens-Westmont',
       'Avocado Heights', 'Unincorporated - Azusa', 'Bassett',
       'Bouquet Canyon', 'Unincorporated - Bradbury', 'Canyon Country',
       'Castaic', 'Unincorporated - Cerritos',
       'Unincorporated - Claremont', 'Unincorporated - Covina',
       'Covina (Charter Oak)', 'Del Aire', 'Unincorporated - Del Rey',
       'Del Sur', 'Desert View Highlands', 'Unincorporated - Duarte',
       'East Covina', 'East La Mirada', 'East Lancaster',
       'East Los Angeles', 'East Pasadena', 'East Rancho Dominguez',
       'East Whittier', 'El Camino Village', 'Unincorporated - El Monte',
       'Elizabeth Lake', 'Unincorporated - Florence-Firestone',
       'Franklin Canyon', 'Unincorporated - Glendora', 'Hacienda Heights',
       'Unincorporated - Hawthorne', 'Hi Vista', 'Kagel/Lopez Canyons',
       'La Crescenta-Montrose', 'Unincorporated - La Habra Heights',
       'La Rambla', 'Unincorporated - La Verne', 'Ladera Heights',
       'Lake Hughes', 'Lake Los Angeles', 'Lake Manor', 'Lennox',
       'Leona Valley', 'Littlerock', 'Littlerock/Juniper Hills',
       'Littlerock/Pearblossom', 'Llano', 'Marina del Rey',
       'Unincorporated - Monrovia', 'Newhall', 'North Lancaster',
       'North Whittier', 'Northeast San Gabriel', 'Padua Hills',
       'Unincorporated - Palmdale', 'Palos Verdes Peninsula',
       'Pearblossom/Llano', 'Pellissier Village', 'Placerita Canyon',
       'Unincorporated - Pomona', 'Quartz Hill', 'Rancho Dominguez',
       'Roosevelt', 'Rosewood', 'Rosewood/East Gardena',
       'Rosewood/West Rancho Dominguez', 'Rowland Heights',
       'San Francisquito Canyon/Bouquet Canyon', 'San Jose Hills',
       'San Pasqual', 'Sand Canyon', 'Santa Catalina Island',
       'Santa Monica Mountains', 'Saugus', 'Saugus/Canyon Country',
       'South Antelope Valley', 'Unincorporated - South El Monte',
       'South San Gabriel', 'South Whittier', 'Southeast Antelope Valley',
       'Stevenson Ranch', 'Sun Village', 'Sunrise Village',
       'Twin Lakes/Oat Mountain', 'Val Verde', 'Valencia', 'Valinda',
       'View Park/Windsor Hills', 'Walnut Park', 'West Antelope Valley',
       'West Carson', 'West Chatsworth', 'Unincorporated - West LA',
       'West Puente Valley', 'West Rancho Dominguez',
       'West Whittier/Los Nietos', 'Westfield/Academy Hills', 'Westhills',
       'White Fence Farms', 'Unincorporated - Whittier',
       'Whittier Narrows', 'Willowbrook', 'Wiseburn'], dtype=object)

In [20]:
covid_2021 = df_covid[['city','date','fips','confirmed_cases','population']].copy()
covid_2021 = covid_2021.sort_values(by=['city','date']).reset_index().drop('index', axis=1)
covid_2021.head()

    city       date  fips  confirmed_cases  population
0  Acton 2021-01-02    37              279      7971.0
1  Acton 2021-01-03    37              283      7971.0
2  Acton 2021-01-04    37              289      7971.0
3  Acton 2021-01-05    37              293      7971.0
4  Acton 2021-01-06    37              303      7971.0

In [21]:
# new_cases_all = (covid_2021.sort_values(by=['city','date']).filter(['city','date','confirmed_cases']).groupby(['city']).confirmed_cases.diff())
# covid_data = covid_2021.assign(new_cases = new_cases_all)
new_cases = pd.DataFrame(None)

for city in covid_2021.city.unique():
    covid_data = covid_2021[covid_2021['city'] == city]
    covid_data = covid_data.sort_values(by='date')
    covid_data['next_day_cases'] = covid_data['confirmed_cases'].shift(-1)
    new_cases = pd.concat([covid_data, new_cases])

new_cases['new_daily_cases'] = new_cases['next_day_cases'] - new_cases['confirmed_cases']
new_cases = new_cases[new_cases['new_daily_cases']>=0]
data_covid = new_cases.sort_values(by=['city','date']).reset_index().drop('index',axis=1)
data_covid.head()

,city,date,fips,confirmed_cases,population,next_day_cases,new_daily_cases
0,Acton,2021-01-02,37,279,7971.0,283.0,4.0
1,Acton,2021-01-03,37,283,7971.0,289.0,6.0
2,Acton,2021-01-04,37,289,7971.0,293.0,4.0
3,Acton,2021-01-05,37,293,7971.0,303.0,10.0
4,Acton,2021-01-06,37,303,7971.0,310.0,7.0

In [22]:
# save dataframe 
# main_data = df.to_excel('main_data.xlsx', index=False)
# covid_df = data_covid.to_excel('data_covid.xlsx', index=False)
# main_data = df.to_csv('main_data.csv', index=False)
# covid_df = data_covid.to_csv('data_covid.csv', index=False)

### Build Dashboard using Dash Plotly

In [23]:
# Import library
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_table as dt
import dash_bootstrap_components as dbc
from dash.dependencies import Output, Input
import plotly.express as px
import plotly.graph_objects as go

In [28]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)


# layout
app.layout = html.Div([
    html.H2('Analytical Dashboard To Improve Restaurant Performance', style={'textAlign':'center'}),
    html.Hr(),
    html.P('Choose Food Category:'),
    html.Div(html.Div([
        dcc.Dropdown(id='food_list', clearable=False,
                     options=[{'label':x, 'value':x} for x in df['categories01'].unique()],
                     value='Pizza'),
    ], className='twelve columns'), className='row'),
    
    html.Div(id='output_graph', children=[]),
    
    
    html.Div([html.Div([
        html.P('Choose City:'),
        dcc.Dropdown(id='city_list', clearable=False,
                     options=[{'label':x, 'value':x} for x in df['city'].unique()],
                     value='Los Angeles'),
    ], className='six columns'),
            html.Div([
        html.P('Choose One or Many Cities:'),
        dcc.Dropdown(id='cov_city_list', multi=True,
                     options=[{'label':x, 'value':x} for x in df['city'].unique()],
                     value=['Hollywood','Beverly Hills']),
    ], className='six columns')], className='row'),
    
    html.Div([
        html.Div([
            dcc.Graph(id='out_graphs2', figure={})
        ], className='six columns'),
        
        html.Div([
            dcc.Graph(id='out_line_chart', figure={})
        ], className='six columns'),
    ]),
    
    
], style={'textAlign':'center'})

In [29]:
# callback
@app.callback(
    Output(component_id='output_graph', component_property='children'),
    [Input(component_id='food_list', component_property='value')]
)

def make_graph(food_choosen):
    # Make dash datatable cheap price
    df_table = df[df['categories01'] == food_choosen]
    df_table = df_table.sort_values(by=['Price'], ascending=True)
    df_table = df_table.groupby(['name','Price','City','review_rating']).size().reset_index(name='count').drop('count', axis=1).sort_values(by='Price')[:10]
    df_table.rename(columns={'name':'Restaurants'}, inplace=True)
    fig_table_cheap = go.Figure(data=[
        go.Table(
            header=dict(values=list(df_table.columns), fill_color='skyblue', align='left'),
            cells=dict(values=[df_table.Restaurants, df_table.Price, df_table.City, df_table.review_rating], fill_color='lavender', align='left')
        )
    ], layout=go.Layout(title=go.layout.Title(text=f'10 Cheapest {food_choosen} Restaurants')))
    
    # Make dash datatable cheap price
    df_table2 = df[df['categories01'] == food_choosen]
    df_table2 = df_table2.sort_values(by=['Price'], ascending=False)
    df_table2 = df_table2.groupby(['name','Price','City','review_rating']).size().reset_index(name='count').drop('count', axis=1).sort_values(by='Price', ascending=False)[:10]
    df_table2.rename(columns={'name':'Restaurants'}, inplace=True)
    fig_table_expensive = go.Figure(data=[
        go.Table(
            header=dict(values=list(df_table2.columns), fill_color='paleturquoise', align='left'),
            cells=dict(values=[df_table2.Restaurants, df_table2.Price, df_table.City, df_table2.review_rating], fill_color='lavender', align='left')
        )
    ], layout=go.Layout(title=go.layout.Title(text=f'10 Expensive {food_choosen} Restaurants')))
    
    # Make scatter mapbox chart
    df_map = df.copy()
    map_df = df_map[df_map['categories01'] == food_choosen]
    map_df.rename(columns={'review_rating':'Rating'}, inplace=True)
    fig_map = px.scatter_mapbox(map_df, lat='latitude', lon='longitude', color='Rating', size='Price', hover_name='name', hover_data=['is_claimed','is_closed'],
                                title=f'where is the location of the restaurant that serves {food_choosen} <br> based on the map?', 
                                color_continuous_scale=px.colors.sequential.Viridis, mapbox_style="carto-positron", height=500, size_max=6, zoom=8)
    
    
    # Make bar chart average review rating consumer
    df_review = df.copy()
    reviews = df_review[df_review['categories01'] == food_choosen]
    bar_fig = px.bar(x=reviews.groupby('price')['review_count'].mean().index,
                     y=reviews.groupby('price')['review_count'].mean(),
                     title='How many Average Reviews? <br> #Reviews by $ Level')
    bar_fig.update_layout(xaxis_title="Price Level", yaxis_title="Average Reviews")
    
    # Make pie chart
    df_pie = df.copy()
    pie_df = df_pie[df_pie['categories01'] == food_choosen]
    pie_df.rename(columns={'name':'count'}, inplace=True)
    pie_df['transactions'] = pie_df['transactions'].replace(['[]'], ["['pickup', 'delivery']"])
    pie_fig = px.pie(
        data_frame=pie_df,
        values=pie_df.groupby('transactions')['count'].count().sort_values(ascending=False),
        title='what restaurant provides the most take out food',
        names=pie_df.groupby('transactions').count().sort_values(by='count', ascending=False).index,
        color_discrete_sequence=px.colors.qualitative.G10,
        hole=.3,
        width=650, 
        height=400
    )
    

    return [
        html.Div([
            html.Div([dcc.Graph(figure=fig_table_cheap)], className='six columns'),
            html.Div([dcc.Graph(figure=fig_table_expensive)], className='six columns')
        ], className='row'),
        html.Div([
            html.Div([dcc.Graph(figure=fig_map)], className='twelve columns') 
        ], className='row'),
        html.Div([
            html.Div([dcc.Graph(figure=bar_fig)], className='six columns'),
            html.Div([dcc.Graph(figure=pie_fig)], className='six columns')
        ], className='row'),
    ]



# callback 2 for output_graphs2
@app.callback(
    Output(component_id='out_graphs2', component_property='figure'),
    [Input(component_id='city_list', component_property='value')]
)

def make_graphs2(drop_city):
    # Make bar chart for the most high rating restaurant
    df_table_city = df[df['city'] == drop_city]
    df_table_city = df_table_city.groupby(['name', 'categories01', 'Price','City','review_rating']).size().reset_index(name='count').drop('count', axis=1).sort_values(by='review_rating', ascending=False)[:10]
    df_table_city.rename(columns={'name':'Restaurants', 'categories01':'Food'}, inplace=True)
    fig_table_city = go.Figure(data=[
        go.Table(
            header=dict(values=list(df_table_city.columns), fill_color='skyblue', align='left'),
            cells=dict(values=[df_table_city.Restaurants, df_table_city.Food, df_table_city.Price, df_table_city.City, df_table_city.review_rating], fill_color='lavender', align='left')
        )
    ], layout=go.Layout(title=go.layout.Title(text=f'The Most High Rating Review Restaurants in {drop_city}')))
    
    return fig_table_city



# Callback for line chart
@app.callback(
    Output(component_id='out_line_chart', component_property='figure'),
    [Input(component_id='cov_city_list', component_property='value')]
)

def fig_line(multi_city):
    # Make line chart for cases in city about covid-19
#     df_covid = pd.read_csv('data_covid.csv')
    df_covid = data_covid[data_covid['city'].isin(multi_city)]
    df_covid.rename(columns={'date':'Date', 'new_daily_cases':'New Confirmed Cases', 'city':'City'}, inplace=True)
    fig_line_cov = px.line(df_covid, x='Date', y='New Confirmed Cases', color='City', title='Confirmed Cases by City',
                           color_discrete_sequence=px.colors.qualitative.G10)
    fig_line_cov.update_xaxes(side="bottom")
    
    return fig_line_cov

In [30]:
# Run app
if __name__ == "__main__":
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Oct/2021 20:42:02] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:04] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:04] "POST /_dash-update-component HTTP/1.1" 200 -
<ipython-input-29-a7612720e818>:53: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

127.0.0.1 - - [06/Oct/2021 20:42:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:42:56] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:43:01] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2021 20:43:06] "POST /_dash-update-component HTTP/1.1" 200 -